	/* style untuk link popup */
	a.popup-link {
		padding:17px 0;
		text-align: center;
		margin:10% auto;
		position: relative;
		width: 300px;
		color: #fff;
		text-decoration: none;
		background-color: #FFBA00;
		border-radius: 3px;
		box-shadow: 0 5px 0px 0px #eea900;
		display: block;
	}
	a.popup-link:hover {
		background-color: #ff9900;
		box-shadow: 0 3px 0px 0px #eea900;
		-webkit-transition:all 1s;
		transition:all 1s;
	}
	/* end link popup*/
	/* animasi popup */

	@-webkit-keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	@-moz-keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	@keyframes autopopup {
		from {opacity: 0;margin-top:-200px;}
		to {opacity: 1;}
	}
	/* end animasi popup */
	/*style untuk popup */	
	#popup2 {
		background-color: rgba(0,0,0,0.8);
		position: fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		margin:0;
		-webkit-animation:autopopup 2s;
		-moz-animation:autopopup 2s;
		animation:autopopup 2s;
        z-index: 9999;
	}

    #popup2:target {
		-webkit-transition:all 1s;
		-moz-transition:all 1s;
		transition:all 1s;
		opacity: 0;
		visibility: hidden;
	}

	@media (min-width: 1000px){
		.popup-container {
			/*width:900px; */
			width: fit-content; 
		}
	}
	@media (max-width: 999px){
		.popup-container {
			width:80vw; padding: 10px!important;
		}
        
		.popup-container img {
			max-width: 100% !important;
		}
		.popup-wrapper .popup-container p {
			font-size: 1em; line-height: 125%;
		}
		.popup-container form h2 {
			font-size: 1em;
		}
	}
	@media (max-width: 470px){
		.popup-container {
			width:90%; padding: 3px!important;
            
		}
        div.popup-close {
        font-size: 10px!important;
        top: -10px!important;
        right: -10px!important;            
	    }
     }
   
	.popup-container {
		position: relative;
		margin:3% auto;
		padding:20px 20px;
		background-color: #fafafa;
		color:#333;
		border-radius: 3px;
	}

	div.popup-close {
        position: absolute;
        top: -20px;
        right: -20px;
        background-color: #693B04;
        padding: 7px 10px;
        font-size: 20px;
        text-decoration: none;
        line-height: 1;
        color: #fff;
        font-family: cursive;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: 1px 1px 2px black;
	}
	/* end style popup */

	/* style untuk isi popup */
	.popup-form {
		margin:10px auto;
	}
		.popup-form h2 {
			margin-bottom: 5px;
			font-size: 37px;
			text-transform: uppercase;
			text-align: center;
    		color: darkcyan;
		}
		.popup-form .input-group {
			margin:10px auto;
		}
			.popup-form .input-group input {
				padding:17px;
				text-align: center;
				margin-bottom: 10px;
				border-radius:3px;
				font-size: 16px; 
				display: block;
				width: 100%;
			}
			.popup-form .input-group input:focus {
				outline-color:#FB8833; 
			}
			.popup-form .input-group input[type="email"] {
				border:0px;
				position: relative;
			}
			.popup-form .input-group input[type="submit"] {
				background-color: #FB8833;
				color: #fff;
				border: 0;
				cursor: pointer;
			}
			.popup-form .input-group input[type="submit"]:focus {
				box-shadow: inset 0 3px 7px 3px #ea7722;
			}
	/* end style isi popup */