# Excluir carpetas grandes y datos sensibles
homedir/
jetbackup.configs/
jetbackup.index
certificate/
ssl/
sslcerts/
sslkeys/
apache_tls/
database/
database_user/
logs/
httpfiles/
backup/

# Archivos de base de datos
*.sql
*.sql.gz

# System files
.DS_Store
Thumbs.db

# Node / Python env (por si acaso)
node_modules/
venv/
__pycache__/
